<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="places">
            <div class="cards">
                <button (click)="show()" >Show</button>
            </div>
            <div [hidden]="hidden" class="details">
                <h1>Wonderla Trip</h1>
                <span>She will live in a separate portion upstairs, with furniture she likes. Siddiqui feels this is important because she recently celebrated her 30th birthday and wants a place she can finally call her own, she tells Al Jazeera over a phone call.

                    Siddiqui has worked as a journalist reporting on topics including technology, climate change and labour in South Asia for the past five years. She now works remotely, freelancing for local and international publications.
                    
                    Despite all her plans for a family home of her own, Zuha is one of a growing number of young people in South Asia for whom the future does not involve having children.</span>
            </div>
        </div>

</body>
</html>